@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-white text-neutral-900 antialiased;
}

a {
  @apply underline-offset-4 hover:underline;
}
